<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Programming.Properties.Settings.ist3jdConnectionString"
            connectionString="Data Source=146.230.177.46\istn3;Initial Catalog=ist3jd;User ID=ist3jd;Password=8h4hnn;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>